<div class = narbar>
      <ul>
        <a href="/admin/signout">SignOut</a>
      </ul>
</div>

<header>
 <nav id="nav">
   <h1>Result</h1>
 </nav>
 </header>

   

<div class="mainContent">
     <div class="blogitem">
         <table border="3" width="500">
            <tr>
              <th>Tweet</th>
              <th>From</th>
              <th>Content</th>
            </tr>
          
            <% @result.each do |t| %>
            <tr>
                  <td> <%=t.id%></td>
                  <td> <%=t.user_id%></td>
                  <td> <%=t.content%></td>
            </tr>  
            <%end%>
          </table>
          <p>Please check each tweet's content</p>
    </div>
 </div>
