<h2>My Profile</h2>

<p>
  <strong>Name:</strong> <%= @user.name %>
</p>
<p>
  <strong>Account:</strong> <%= @user.account %>
</p>
<p>
  <strong>Password:</strong> <%= @user.password %>
</p>

<p><%= link_to "Change Password", "/users/edit/#{@user.id}" %></p>
