/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
    	padding-left: 11em;
    	font-family: Georgia, "Times New Roman",
          Times, serif;
    	color: black;
    	background-color: grey }
ul.navbar {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
    	position: absolute;
    	top: 2em;
    	left: 1em;
    	width: 9em }
h1 {
    	font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
ul.navbar li {
    	background: white;
    	margin: 0.5em 0;
    	padding: 0.3em;
    	border-right: 1em solid black }
ul.navbar a {
    	text-decoration: none }
a:link {
    	color: blue }
a:visited {
    	color: purple }
function {
    	margin-top: 2em;
    	padding-top: 2em;}
a.button, input[type="submit" i] {
  background: #11639f;
  padding: 12px;
  color: #FFF;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 6px;
  display: inline-block;
}